name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ '11', '17' ]

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: ./gradlew build javadoc
      run: _JAVA_OPTIONS=-Xmx2g ./gradlew build javadoc
    - name: ./gradlew requireJavadoc
      run: ./gradlew requireJavadoc
